.card{
    width: auto;
    color: aquamarine;

}

.main-container, .section-1 .section-2, .section-3{
    display: flex;
    border: 1px solid rgb(185, 185, 185);
    margin: 20px;
    padding: 50px;
    width:auto;
    background-color: rgb(147, 163, 152);

}

.section-3{
    padding: 10px;
    
}


